/* Generali */

h1 {
    text-align: center;
    padding: 1rem;
    
}


body{
    background-image: url("img/background.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Heebo',sans-serif;
}

hr{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}


/* Navbar */

nav{
    z-index: 10;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#nav-text {
    padding-right: 3rem;
    
}

#nav-text a{
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: 0;
    text-align: center;
}

.nav-text-style1{
    border-right: solid 1px black;
}

/* Above the fold */

#above-the-fold {
    padding: 0 0 0 0;
    box-shadow: 0 15px 10px black;
}

.carousel-item{
    max-height: 500px;
}

.carousel-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.overlay2 {
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.carousel-caption {
    z-index: 3;
}

.carousel-caption h3{
    color: #FFE81F;
}


/* Sezione film */

#sezione-film {
    padding-top: 15px;
    padding-bottom: 50px;
    border-bottom: solid black 1px;
}

#sezione-film h1, h3, h4{
    color: white;
    z-index: 2;    
}

#sezione-film h3, h4{
    padding: 0 10px 0 10px;
}

.film-style{
    box-shadow: 0 0 40px #FFE81F;
}

.film {
    height: 500px;
    background-image: url('./img/placeholder.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    width: 100%;
    height: 100%;
    position: absolute;
}

#row-1 {
    /* background-color: grey; */
    text-align: center;
}

#row-2 {
    /* background-color: lightgray; */
    text-align: center;
}

#row-3 {
    /* background-color: grey; */
    text-align: center;
}



/* Sezione serie tv */

#sezione-serie{
    background-color: white;
}

#sezione-serie h1{
    padding-top: 20px;
    text-decoration: underline #FFE81F;
}

#sezione-serie h3,h4{
    color: black;
}

#sezione-serie h3 {
    font-size: 40px;
}

#sezione-serie h4 {
    font-size: 30px;
}

#sezione-serie p {
    font-size: 20px;
}

#serie-style1 {
    padding: 1rem 1rem 1rem 5rem;
}

#serie-style2 {
    padding: 1rem 5rem 1rem 1rem;
}


.poster{
    height: 530px;
    background-image: url('./img/placeholder.jpg'); 
    background-size: cover;
    background-position: top center;
}


.desc1{
    padding-left: 50px;
}

.desc2 {
    text-align: right;
    padding-right: 50px;
}

.btn-margin-right{
    margin-right: 20px;
}

.btn-margin-left{
    margin-right: 20px;
}

.btn-custom{
    width: 160px;
    height: 50px;
    font-size: x-large;
}

.btn-style1{
    background: linear-gradient(#FFE81F, rgb(255, 207, 33));
    box-shadow: 1px 3px 10px black;
}

    .btn-style1:hover{
        background: linear-gradient(#ffe91f, rgb(255, 166, 33));
        box-shadow: 1px 3px 10px black;
    }

    .btn-style1:focus{
        background: linear-gradient(#FFE81F, rgb(255, 207, 33));
        box-shadow: 1px 3px 10px black;
        border: none;
    }


.btn-style2{
    color: white;
    background: linear-gradient(#606060, #464646);
    box-shadow: 1px 3px 10px black;
}

    .btn-style2:hover{
        color: white;
        background: linear-gradient(#555555, #3a3a3a);
        box-shadow: 1px 3px 10px black;
        border: black;
    }

    .btn-style2:focus{
        color: white;
        background: linear-gradient(#606060, #464646);
        box-shadow: 1px 3px 10px black;
        border: none;
    }